body {  
  background-image: url(../images/light_rock_4.jpg);   
  background-color: #E1E2DC;
}

#site-name {
  font-size: 3em;
}

#site-slogan {
  font-size: 1.4em;
}

/* To toggle between "centered-fixed-width" and "full screen" effect, activate/deactivate the 3 lines below*/
#page-wrapper {  
  width: 960px; 
  margin-left: auto; 
  margin-right: auto;  
}

#block-views-announcements-block,
#block-block-2, /* 'Area Map' block */
#block-block-5, /* 'Translate this website' block */
#block-menu-menu-administration {
  border: 1px solid #898985;
  border-radius: 10px;  
}

#block-block-5.content {
  padding-top: 0;
}

#google_translate_element {
  text-align: center;
}

 /* To make images span horizontally instead of vertically */
.field-name-field-photo img,
.field-name-field-listing-photo img,
.field-name-field-listing-main-photo img {
  float: left;
  border: black 1px solid;
  margin-right: 15px;
}

.view-vacant-lots .total {
  font-size: 1.6em;
}

/* This will add the 'raised piece of paper' effect, if page already has fixed-width */
#header {
  border-radius: 10px 10px 0px 0px;
}
#footer-wrapper {
  border-radius: 0px 0px 10px 10px;
}
#page-wrapper {
	border-radius: 10px 10px 10px 10px;
}
#page {	
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 15px;    
  border-radius: 10px;  
}
